@mixin centerText {
  display: flex;
  align-items: center;
}

.Navbar {
  width: 100%;
  background: #94111f;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;


  &__container {
    width: 100%;
    @include centerText;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
  }

  &__logo {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__hamburger {
    display: none;
  }
  &__menus {
    @include centerText();
    position: relative;

    &_menu {
      margin: 20px;
      color: white
    }

    &--mobile-menus {
      display: none;
    }
  }

  &__account {
    @include centerText();
  }

  @media screen and (max-width: 900px) {
    &__menus, &__account {
      display: none
    }
    &__menus--mobile-menus, &__hamburger {
      display: block;
    }
  }


}


