.line{

  width:50%;
  display: flex;

  &__color-one{
    width: 200px;
    height: 8px;
    background: gold;
  }
  &__color-two{
    width: 15px;
    height: 8px;
    margin-left: 8px;
    background: #8dbeed;
  }
}