.sign-in{
  width: 100%;
  height: 100vh;
  background: darkgoldenrod;

  &__innercontainer{
    display: flex;
   .dashboard{
     width: 100%;
     background: #e70707;
     height: 100vh;
     text-align: center;
   }
  }
  .left-blue-partition{
    width: 50%;
    height: 100vh;
    background: #40404c;
  }
  .right-wheat-partition{
    width: 50%;
    height: 100vh;
    background:wheat;
  }

}